{% extends '::base.html.twig' %}
{% block content %}
    <div class="panel panel-success">
        <div class="panel-heading">Accueil</div>
        <div class="panel-body">
            <div class="form-group">
                <p>Bonjour</p>
            </div>
        </div>
    </div>
{% endblock %}